## 5.1

(1) 选取适当的客户特征，建立客户长期忠诚度预测模型。客户特征可以从
客户信用资格、性别、年龄、户龄、金融资产、客户购买产品数量、持有信用卡
状态、活动状态和个人年收入等指标中直接选取，也可以参照任务 4 构建。在报
告中给出特征选取的依据、建立预测模型的思路和过程。

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_long = pd.read_excel('../result/result4.xlsx')

In [4]:
df_long.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Status,AssetStage,IsActiveStatus,IsActiveAssetStage,CrCardAssetStage
0,15553251,713,1,52,0,185891.54,1,1,1,46369.57,1,新客户,高资产,3,9,9
1,15553256,619,1,41,8,0.00,3,1,1,79866.73,1,老客户,低资产,5,6,6
2,15553283,603,1,42,8,91611.12,1,0,0,144675.30,1,老客户,中上资产,2,2,5

In [5]:
df_long.columns

Index(['CustomerId', 'CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited', 'Status', 'AssetStage', 'IsActiveStatus',
       'IsActiveAssetStage', 'CrCardAssetStage'],
      dtype='object')

In [6]:
index = ['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']

X = df_long[index]
y = df_long['Exited']

In [7]:
# LGBM模型
model = LGBMClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=123)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))
print(model.feature_importances_)

0.8518518518518519
[637  90 464 263 558 199  32  95 662]

In [8]:
# XGBoost模型
model1=XGBClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=123)
model1.fit(X_train, y_train)
print(model1.score(X_test, y_test))
print(model1.feature_importances_)

[10:14:00] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.8485838779956427
[0.04597596 0.06637163 0.14284879 0.0435923  0.05571886 0.35911846
 0.04528955 0.19267982 0.04840465]

In [9]:
# 随机森林模型
model2=RandomForestClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=123)
model2.fit(X_train, y_train)
print(model2.score(X_test, y_test))
print(model2.feature_importances_)

0.8583877995642701
[0.15626038 0.01866799 0.24367646 0.08612932 0.14414709 0.1298434
 0.0188088  0.04215623 0.16031031]

In [10]:
# 决策树模型
model3=DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=123)
model3.fit(X_train, y_train)
print(model3.score(X_test, y_test))
print(model3.feature_importances_)

0.7859477124183006
[0.15717071 0.01809965 0.22641245 0.08209857 0.14724292 0.11816815
 0.01457719 0.05266461 0.18356576]

In [11]:
# 第二个倒数第二个和倒数第三个变量特征重要度普遍偏低

In [12]:
del index[1]

In [13]:
del index[-2]

In [14]:
del index[-3]

In [15]:
index

['CreditScore', 'Age', 'Tenure', 'Balance', 'HasCrCard', 'EstimatedSalary']

In [16]:
X=df_long[index]
model2=RandomForestClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=123)
model2.fit(X_train, y_train)
print(model2.score(X_test, y_test))

0.8164488017429193

## 5.2

(2) 使用混淆矩阵、F1 Score 等方法对预测模型进行评估，在报告中给出评
估的方法和结果。

In [17]:
from sklearn.metrics import confusion_matrix
y_pred = model2.predict(X_test)
m = confusion_matrix(y_test, y_pred)
m

array([[1414,   73],
       [ 264,   85]], dtype=int64)

In [18]:
a = pd.DataFrame(m, index=['0（实际不流失）', '1（实际流失）'],columns=['0（预测不流失）', '1（预测流失）'])
a

          0（预测不流失）  1（预测流失）
0（实际不流失）      1414       73
1（实际流失）        264       85

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      1487
           1       0.54      0.24      0.34       349

    accuracy                           0.82      1836
   macro avg       0.69      0.60      0.61      1836
weighted avg       0.78      0.82      0.79      1836

## 5.3

(3) 对“long-customer-test.csv”测试数据进行预测，将全部预测结果以表 10
形式保存为文件“result5.xlsx”，其中 0 表示客户没有流失，1 表示客户流失。并
将表 11 中的 5 个客户 ID 的预测结果在报告中列出。

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('../long-customer-test.csv')

In [22]:
df.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15647311,608,1,41,1,83807.86,1,0,1,112542.58
1,15737452,653,0,58,1,132602.88,1,1,0,5097.67
2,15577657,732,0,41,8,0.00,2,1,1,170886.17

In [23]:
test_pre = model2.predict(df[index])
df['Exited'] = test_pre
df.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15647311,608,1,41,1,83807.86,1,0,1,112542.58,0
1,15737452,653,0,58,1,132602.88,1,1,0,5097.67,1
2,15577657,732,0,41,8,0.00,2,1,1,170886.17,0

In [24]:
df.to_excel('../result/result5.xlsx', index=False)

In [25]:
ls = [15579131, 15674442, 15719508, 15730076, 15792228]
df[(df['CustomerId']==15579131) | (df['CustomerId']==15674442) | (df['CustomerId']==15719508) | (df['CustomerId']==15730076) | (df['CustomerId']==15792228)]

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
53,15730076,651,0,45,1,0.00,1,1,0,67740.08,0
359,15674442,681,0,23,7,157761.56,1,0,0,147759.84,0
480,15792228,748,0,60,0,152335.70,1,1,0,126743.33,1
488,15719508,575,0,49,7,121205.15,4,1,1,168080.53,0
907,15579131,835,0,25,7,0.00,2,1,1,83449.65,0